@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="top-section-area section-gap">
    <div class="container">
        <div class="row justify-content-between align-items-center d-flex">
            <div class="col-lg-8 top-left">
                <h1 class="text-white mb-20">Bana Blog Konusu Öner</h1>
                <ul>
                    <li><a href="index.html">Home</a><span class="lnr lnr-arrow-right"></span></li>
                    <li><a href="category.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<br />
<div class="whole-wrap pb-100">
    <div class=".
container">
<div class="col-lg-10 col-md-10">
    <h3 class="mb-30">Form Element</h3>
    <form action="#">
        <div class="mt-10">
            <input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required="" class="single-input">
        </div>
        <div class="mt-10">
            <input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required="" class="single-input">
        </div>
        <div class="mt-10">
            <input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required="" class="single-input">
        </div>
        <div class="mt-10">
            <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" class="single-input">
        </div>

        <div class="mt-10">
            <textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
        </div>

        <br />
        <div class="mt-10" style="text-align:right">
            <button type="submit" class="genric-btn default circle">Gönder</button>
        </div>
    </form>
    </div>
</div>
</div>
<br />